/ *============CSS reset - Start=============*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Remove list styles & padding on ul & ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul {
  list-style: none;
  padding: 0;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}


/* removes default underline from links */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* ============
CSS reset - End
============= */

/* Fonts */
/* overlock-italic - latin */
@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('fonts/overlock-v10-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/overlock-v10-latin-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* overlock-700italic - latin */
@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('fonts/overlock-v10-latin-700italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/overlock-v10-latin-700italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* overlock-900 - latin */
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('fonts/overlock-v10-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/overlock-v10-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* overlock-900italic - latin */
@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-weight: 900;
  src: local(''),
    url('fonts/overlock-v10-latin-900italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/overlock-v10-latin-900italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Body basics */

:root {
  --hot-pink: #FF5DF4;
  --happy-aqua: hsl(189, 100%, 50%);
  --happy-aqua-alt: hsl(189, 100%, 45%);
  --emoji-yellow: #FFDE34;
}


body {
  display: flex;
  flex-direction: column;

  background: url('images/rainbow-sm.jpg');
  color: var(--hot-pink);
  font-family: overlock, cursive;
  font-weight: 900;
  position: relative;
  text-align: center;
}

/* rainbow background opacity*/
#overlay {
  background-color: white;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.half-opacity {
  opacity: .5
}

.no-opacity {
  opacity: 0;
}

/* Header */
header {
  background: var(--happy-aqua-alt);
  border-radius: 10px;
  margin: .5rem auto 0;
  padding: .5em 5vmin;
  width: 80vmin;
}


h1 {
  font-size: 12vmin;
}

.header__title--accent {
  color: var(--emoji-yellow);
  font-style: italic;
  font-weight: 900;
}

h2 {
  color: var(--emoji-yellow);
  font-size: 5vmin;
  font-style: italic;
  font-weight: 900;
}

/* Buttons */

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 2vmin;
  margin: 3vmin auto;
}

.buttons__middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

#startBtn {
  background: var(--emoji-yellow);
  border-radius: 10px;
  border: 2px solid var(--hot-pink);
  color: var(--hot-pink);
  font-size: 3vmin;
  margin: .25em;
  padding: 1em .75em;
}

.directional-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: var(--hot-pink);
  border-radius: 10px;
  border: 2px solid var(--happy-aqua-alt);
  color: var(--emoji-yellow);
  height: 50px;
  width: 50px;
}
#startBtn:hover,
.directional-btn:hover {
  border: 2px solid white;
  box-shadow: 0 0 6px 1px hsla(360, 100%, 100%, .5) inset;
  color: white;
  cursor: pointer;
}


/* Game */
.game {
  background: var(--happy-aqua-alt);
  border-radius: 10px;
  margin: 0 auto 2vmin;
  padding: 5vmin;
  width: 80vmin;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  border-radius: 10px;
  border: 1vmin solid var(--emoji-yellow);
  height: 70vmin;
  margin: 0 auto;
  width: 70vmin;
}

.square {
  background: var(--hot-pink);
  height: 7vmin;
  width: 7vmin;
}

.snake {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--happy-aqua);
}

/* apples are emojis */
.apple {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 6vmin;
}

.scoreboard {
  font-size: 6vmin
  margin-top: .5em;
}

#score {
  color: var(--emoji-yellow);
}

/* design credit for background rainbow pattern */
.attributions {
  color: white;
  font-size: 12px;
  z-index: -2;
}
